 * {
   margin: 0;
   padding: 0;
 }

 body {
   font-family: 'Outfit', sans-serif;
   font-size: 15px;
   background-color: hsl(212, 45%, 89%);
 }

 main {
   width: 21.3rem;
   height: 33.2rem;
   background-color: hsl(0, 0%, 100%);
   margin: 15% auto 0 auto;
   text-align: center;
   border-radius: 20px;
   overflow: hidden;
 }

 img {
   margin-top: 15px;
   width: 19.2rem;
   border-radius: 10px;
 }

 p:first-child {
   font-weight: 700;
   font-size: 22px;
   margin: 20px 0;
   color: hsl(218, 44%, 22%);
 }

 p:last-child {
   color: hsl(220, 15%, 55%);
 }

 .info {
   width: 74%;
   margin: 0 auto;
 }

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
